In [15]:
pwd

'/home/work/work/Problem_100/nlp_100'

# 【言語処理100本ノック 2020】第2章: UNIXコマンド

In [16]:
!wget https://nlp100.github.io/data/popular-names.txt

--2021-04-18 05:04:29--  https://nlp100.github.io/data/popular-names.txt
Resolving nlp100.github.io (nlp100.github.io)... 185.199.109.153, 185.199.108.153, 185.199.110.153, ...
Connecting to nlp100.github.io (nlp100.github.io)|185.199.109.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55026 (54K) [text/plain]
Saving to: ‘popular-names.txt.2’

popular-names.txt.2 100%[===================>]  53.74K  --.-KB/s    in 0.04s

2021-04-18 05:04:29 (1.26 MB/s) - ‘popular-names.txt.2’ saved [55026/55026]

### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [19]:
pwd

'/home/work/work/Problem_100/nlp_100'

In [28]:
# pandas

import pandas as pd

df_master = pd.read_table("popular-names.txt", header=None)
df = df_master.copy()
len(df)

2780

In [30]:
#UNIXコマンド
!wc -l popular-names.txt

2780 popular-names.txt

### 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [32]:
# pandas
df.head(5)

           0  1     2     3
0       Mary  F  7065  1880
1       Anna  F  2604  1880
2       Emma  F  2003  1880
3  Elizabeth  F  1939  1880
4     Minnie  F  1746  1880

In [33]:
#UNIXコマンド
!sed -e 's/\s/ /g' popular-names.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
sed: couldn't write 17 items to stdout: Broken pipe

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ

In [55]:
# pandas
col1_p = df[0]
col2_p = df[1]

col1_p.to_csv("./col1_p.txt")
col2_p.to_csv("./col2_p.txt")

In [52]:
#UNIXコマンド
!cut -f 1 ./popular-names.txt > ./col1.txt
!cat ./col1_chk.txt | head -n 5

Mary
Anna
Emma
Elizabeth
Minnie

In [53]:
#UNIXコマンド
!cut -f 2 ./popular-names.txt > ./col2.txt
!cat ./col2_chk.txt | head -n 5

F
F
F
F
F

### 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [56]:
# pandas
pd.concat([col1_p,col2_p], axis=1).head()

           0  1
0       Mary  F
1       Anna  F
2       Emma  F
3  Elizabeth  F
4     Minnie  F

In [57]:
#UNIXコマンド
!paste col1.txt col2.txt | head -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

### 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [60]:
# pandas
N = 3
df.head(N)

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

In [61]:
# UNIXコマンド
!head -n 5 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

### 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [63]:
# pandas
N = 3
df.tail(N)

          0  1      2     3
2777  Lucas  M  12585  2018
2778  Mason  M  12435  2018
2779  Logan  M  12352  2018

In [64]:
# UNIXコマンド
!tail -n 3 popular-names.txt

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

### 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [126]:
# Pandas
import numpy as np

# 指定した整数でファイルを分割する関数
def spl(x, N):
    df_list = []
    # カットする幅を計算。
    a = np.round(len(df)/N).astype(int)
    # 指定幅でファイルをカットしてリストに格納。
    for i in range(N):
        if i == 0:
            df_list.append(df[:a])
        else:
            df_list.append(df[a*i:(a*(i+1))])
    
    # 端数を最後のファイルに追加する。
    b = len(df_list[0] + df_list[1] + df_list[2]) - len(df)
    if b != 0:
        df_list[-1] = df_list[-1] + df[-b:]
    return df_list


N = 10
cut_df = spl(df, N)
cut_df[6]

            0  1      2     3
1668   Sandra  F  21619  1963
1669  Cynthia  F  21593  1963
1670  Michael  M  83782  1963
1671     John  M  78625  1963
1672    David  M  78467  1963
...       ... ..    ...   ...
1941  Melissa  F  26886  1977
1942      Amy  F  26732  1977
1943  Jessica  F  24843  1977
1944  Heather  F  23777  1977
1945   Angela  F  20996  1977

[278 rows x 4 columns]

In [102]:
2800/4

700.0